.logo {
  display: block;
  height: 100px;
  width: auto;
  // background: #000;
  margin-left: -14px;
  cursor: pointer;
  transition: transform 0.26s ease;
}

.logo:hover {
  transform: scale(1.05);
}
